@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    user-select: none;
    background-color: #19A1AE;
    font-family: "Kumbh Sans", sans-serif;
    padding: 173px 24px 173px 24px;
    overflow:hidden;

}

.cont {
    width: 326px;
    height: 374px;
}

header {
    width: 326px;
    height: 144px;
    background-image: url(./assets/Oval.svg);
}

main {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 254px;
    background-color: white;
    justify-content: center;
    position: relative;
    border-radius: 0px 0px 10px 10px;


}

img {
    display: flex;
    align-self: center;
    position: absolute;
    top: -55px;

}

.txtbox {
    width: 133px;
    height: 49px;
    margin-top: 80px;
    text-align: center;
}

h1 {

    color: #2E3349;
    font-size: 18px;
    line-height: 125%;

}

span {
    width: 21px;
    height: 23px;
    font-size: 18px;
    color: #6B7082;
    font-weight: 400;
    line-height: 125%;
}

h2 {
    color: #6B7082;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    margin-top: 8px;
}

.last {
    width: 326px;
    height: 89px;
    border-top: 1px solid #E8E9EC;
    margin-top: 24px;
    padding: 25px 37px 25px 37px;
    justify-content: center;

}

.info {
    width: 252px;
    height: 44px;
   display: grid;
    grid-template-columns: repeat(3, 56px);
    column-gap: 30px;
    margin-left: 15px;

}

.numb {
    width: 56px;
    height: 44px;
    text-align: center;
}

h3 {
    color: #2E3349;
    font-size: 18px;
    line-height: 125%;
    font-weight: 800;
}

h4 {
    color: #6B7082;
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 125%;
    margin-top: 8px;
    font-weight: 400;
}